.contact {
  text-align: left;
  background-color: var(--color-primary);
  padding: 0 10vw 0 10vw;
  height: 50vh;
}

.contact h1 {
  font-size: 3rem;
  color: var(--color-white);
  padding: 0 0 5vh 0;
}
.contact h3 {
  font-size: 1rem;
  color: var(--color-white);
  padding: 0 0 1vh 0;
}

.contact p {
  font-size: var(--size-4);
  color: var(--color-gray);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.contact i {
  color: var(--color-gray);
  margin-right: 0.2rem;
}

.social {
  display: flex;
}
