.hero {
  text-align: left;
  background-color: var(--color-primary);
  padding: 30vh 30vw 0 10vw;
  height: 100vh;
}

.hero h1 {
  font-size: var(--size-6);
  padding: var(--size-4) 0;
  color: var(--color-white);
}

.hero p {
  font-size: var(--size-6);
  color: var(--color-gray);
  width: 90%;
  max-width: 40rem;
  margin: auto;
}
