@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500&family=Spectral&family=Karla&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --color-primary: #171717;
  --color-white: #ffffff;
  --color-gray: #7a7a7a;

  --color-success-100: #a2f0bc;
  --color-success-500: #12bd4b;

  --color-error-100: #f1acc9;
  --color-error-500: #a10c4a;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;

  padding: 0;
  margin: 0;
  background-color: var(--color-grey-500);
  color: #252525;
  font-family: 'Karla', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Spectral', sans-serif;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}
